<div>
    <h1>
        {{title}}
    </h1>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!-- <ul>
                <li>Yes/No Bot</li>
                <li>Regex Bot</li>
            </ul> -->
        </div>
        <div class="container span10">
            <app-collaboration #collabMod></app-collaboration>
            <app-client [collabMod]="collabMod"></app-client>
            <app-message-river></app-message-river>
        </div>
    </div>
</div>
